.carTabContainer {
    width: 100%;
    padding: 5.25rem 7.5rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 169fr 131fr;
    gap: 4.5rem;
    color: var(--black);
    font-family: var(--font-family);
    min-height: calc(100vh - 4.25rem) ;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    gap: 2.5rem;
}

.carImg {
    width: 100%;
    aspect-ratio: 1.25;
    object-fit: cover;
    object-position: center;
    border-radius: 19px;
}

.right {
    gap: 4.25rem;
}

.carAdditionalInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6.875rem;
}

.row {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.detailsTitle {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33333;
    align-items: baseline;
    gap: 1rem
}
.orderId {
    font-size: 1rem;
    color: var(--select-options-color);
    font-weight: 500;
    line-height: 1.25;
}

.location {
    font-weight: 500;
    line-height: 1.25;
    margin-top: .5rem;
}

.mileage {
    margin-left: 1rem;    
}


.rentalPrice {
    margin-top: 1rem;
    color: var(--button);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33333;
}

.description {
    margin-top: 2rem;
    font-weight: 500;
    line-height: 1.25;
}

.icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
}
.mapPointerIcon {
    width: .75rem;
    /* display: flex; */
}


.subTitle {
    margin: 0 0 1.25rem 0;
}

.bookingForm,
.bookingFormTabletMob {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border: 1px solid var(--select-scroll);
    border-radius: 10px;
    font-size: 1rem;  
}

.bookingFormTabletMob {
    display: none;
}

@media only screen and (max-width: 1199px) {
    .carTabContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .carImg {
        width: 80%;
    }
    .bookingForm {
        display: none;
    }
    .bookingFormTabletMob {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 3rem;
    }
} 

@media only screen and (max-width: 767px) {
    body {
        font-size: 12px;
    }
    .carTabContainer {
        padding: 2rem 1.5rem;
    }
    .carImg {
        width: 100%;
    }
    .bookingFormTabletMob {
        padding: 1rem;
    }
}