.carTabContainer {
    width: 100%;
    padding: 5.25rem 7.5rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 169fr 131fr;
    gap: 4.5rem;
    color: var(--black);
    font-family: var(--font-family);
    min-height: calc(100vh - 4.25rem) ;
    
    /* border: 1px solid yellowgreen; */
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    gap: 2.5rem;
    /* border: 1px solid red; */
}

.carImg {
    width: 100%;
    aspect-ratio: 1.25;
    object-fit: cover;
    object-position: center;
    border-radius: 19px;
}

.right {
    gap: 4.25rem;
    /* border: 1px solid blue; */
}

.carAdditionalInfo {
    display: flex;
    flex-direction: column;
    gap: 6.875rem;
}

/* .details {
    border: 1px solid teal;
}

.rentalConditions {
    border: 1px solid springgreen;
}

.carSpecifications {
    border: 1px solid slateblue;
}

.accessoritiesFunctionalities {
    border: 1px solid salmon;
} */

.row {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}

.detailsTitle {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33333;
}

.location {
    font-weight: 500;
    line-height: 1.25;
    margin-top: .5rem;
}

.mileage {
    margin-left: 1rem;    
}

.rentalPrice {
    margin-top: 1rem;
    color: var(--button);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33333;
}

.description {
    margin-top: 2rem;
    font-weight: 500;
    line-height: 1.25;
}

.icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
}

.subTitle {
    margin: 0 0 1.25rem 0;
}